<h1><%= t("layout.task.edit_title") %></h1>

<%= render 'form', task: @task %>

<%= link_to t("layout.views.show"), @task %> |
<%= link_to t("layout.views.back"), tasks_path %>

<%= javascript_tag do %>
  window.label_ids = <%= raw @task.labeling_labels.ids.to_json %>;
<% end %>
