<p id="notice"><%= notice %></p>

<h1><%= t("layout.task.index_title") %></h1>

<table>
  <thead>
  <tr>
    <th><%= t("layout.task.title") %></th>
    <th><%= t("layout.task.content") %></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t("layout.task.new"), new_task_path %>