<p id="notice"><%= notice %></p>

<div class='show-form'><strong><%= t("layout.task.name") %>：</strong><%= @task.name %></div>
<div class='show-form'><strong><%= t("layout.task.rent") %>：</strong><%= @task.content %></div>

<%= link_to t("layout.views.edit"), edit_task_path(@task) %> |
<%= link_to t("layout.views.back"), tasks_path %>