<h1><%= t("layout.task.show_title") %></h1>

<p id="notice"><%= notice %></p>

<div class='show-form'><strong><%= t("layout.task.title") %>：</strong><%= @task.title %></div>
<div class='show-form'><strong><%= t("layout.task.content") %>：</strong><%= @task.content %></div>
<div class='show-form'><strong><%= t("layout.task.expired_at") %>：</strong><%= @task.expired_at %></div>
<div class='show-form'><strong><%= t("layout.task.status") %>：</strong><%= @task.status %></div>

<% @task.labeling_labels.each do |label| %>
  <div style="margin-bottom: 10px"><label style="background-color: aquamarine"><%= label.name %></label></div>
<% end %>

<% if @task.files.attached? %>
  <% @task.files.each do |file| %>
    <%= link_to file.blob.filename, file %><br>
  <% end %>
<% end %>

<%= link_to t("layout.views.edit"), edit_task_path(@task) %> |
<%= link_to t("layout.views.back"), tasks_path %>