<p id="notice"><%= notice %></p>

<div class='show-form'><strong><%= t("layout.task.title") %>：</strong><%= @task.title %></div>
<div class='show-form'><strong><%= t("layout.task.content") %>：</strong><%= @task.content %></div>
<div class='show-form'><strong><%= t("layout.task.expired_at") %>：</strong><%= @task.expired_at %></div>
<div class='show-form'><strong><%= t("layout.task.status") %>：</strong><%= @task.status %></div>


<%= link_to t("layout.views.edit"), edit_task_path(@task) %> |
<%= link_to t("layout.views.back"), tasks_path %>