<%= form_with(model: label, local: true) do |f| %>
  <% if label.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(label.errors.count, t("layout.views.error_indicate")) %></h2>

      <ul>
        <% label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, t("layout.label.name") %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.hidden_field :default, value: 'true' %>
  <br>

  <div class='actions'><%= f.submit %></div>
<% end %>