<p id="notice"><%= notice %></p>

<h1><%= t("layout.label.index_title") %></h1>

<table>
  <thead>
  <tr>
    <th><%= t("layout.label.name") %></th>
    <th><%= t("layout.label.default") %></th>
    <th><%= t("layout.views.edit") %></th>
    <th><%= t("layout.views.destroy") %></th>
  </tr>
  </thead>

  <tbody>
  <% @labels.each do |label| %>
    <tr>
      <td><%= label.name %></td>
      <td><%= label.default %></td>
      <td><%= link_to t("layout.views.edit"), edit_label_path(label) %></td>
      <td>
        <%= link_to t("layout.views.destroy"), label, method: :delete,
        data: { confirm: t("layout.views.confirm_destroy") } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br><br>

<h1><%= t("layout.label.chat_index") %></h1>

<%= column_chart @chat_labels %>

<%= link_to t("layout.task.new"), new_task_path %>
<%= link_to t("layout.task.index"), tasks_path %>
<br>
<%= link_to t("layout.label.new"), new_label_path %>
