<h1><%= t("layout.group.index_title") %></h1>
<table>
  <thead>
    <tr>
      <th><%= t("layout.group.name") %></th>
      <th><%= t("layout.group.description") %></th>
      <th><%= t("layout.views.show") %></th>
      <th><%= t("layout.views.edit") %></th>
      <th><%= t("layout.group.join_status") %></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= link_to t("layout.views.show"), group %></td>
        <td><%= link_to t("layout.views.edit"), edit_group_path(group) if group.user == current_user %></td>
        <td><%= participate_or_withdraw(group, current_user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("layout.group.new"), new_group_path %>
<br>
<%= link_to t("layout.task.new"), new_task_path %>
<%= link_to t("layout.task.index"), tasks_path %>
<br>
<%= link_to t("layout.label.new"), new_label_path %>
<%= link_to t("layout.label.index"), labels_path %>
