<!DOCTYPE html>
<html>
  <head>
    <title>MannyouDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to t("layout.views.profile"), user_path(current_user.id) %>
      <%= link_to t("layout.views.logout"), session_path(current_user.id), method: :delete %>
      <%= link_to t("layout.views.admin_dashboard"), admin_users_path if current_user.admin %>
    <% else %>
      <%= link_to t("layout.views.sign_up"), new_user_path %>
      <%= link_to t("layout.views.login"), new_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
